$white: #fff;
$orange: #ffa413;
$grey: #ddd;
$blue: #158cba;
$black: #0a0a0a;

$link-primary: $orange;
$link-secondary: $blue;
$link-tertiary: $grey;

$button-primary: $orange;
$button-secondary: $blue;
$button-tertiary: $grey;

$radius-button: 5px;
$radius-input: 5px;
$radius-tab: 5px;
$radius-container: 15px;
