<form [formGroup]="loginForm" (ngSubmit)="login()">
  <div class="formGroup">
    <h2>LOGIN</h2>

    <div class="inputGroup">
      <label for="text">Username</label>
      <input [class.error]="valida('username') || error" type="text" formControlName="username">
      <span *ngIf="valida('username')">Username is required</span>
    </div>
    <div class="inputGroup">
      <label for="password">Password</label>
      <input [class.error]="valida('password') || error" type="password" formControlName="password">
      <span *ngIf="valida('password')">Password is required</span>
    </div>
    <span class="error-message">{{error}}</span>
    <button [attr.disabled]="loading ? '' : null">Login</button>
    <div class="wrapRegister"><span>Ainda não tem cadastro? <a  routerLink="/register"><b>Clique aqui!</b></a></span></div>
  </div>
</form>
